body
{
    color: rgb(14, 13, 13);
    text-align: left;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}
#Container
{
    text-align: left;
    border: 1px solid #333;
    width: 70%;
    margin: 0 auto;
}

#Container h1
{
font-size: 20px;
}